.cube-container {
  -webkit-perspective: 1000;
  position: relative;
  /* default size. if you change the width make sure to adjust the translateZ values */
  width: 400px; 
  height: 400px;
}

.cube {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  width: 100%;
  height: 100%;
}

.cube .face {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  position: absolute;
  -webkit-box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -webkit-box-shadow: 0 0 5px #74A3D7;
  -moz-box-shadow: 0 0 5px #74A3D7;
}

.cube .face.front {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) translateZ(200px);
}

.cube .face.left {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotateY(-90deg) translateZ(200px);
}

.cube .face.right {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotateY(90deg) translateZ(200px);
}

.cube .face.rear {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotateY(180deg) translateZ(200px);
}

.cube .face.bottom {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotateX(-90deg) translateZ(200px) rotate(180deg);
}

.cube .face.top {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotateX(90deg) translateZ(200px);
}

.cube .face { display: none; }
.cube.toTop .face.top { display: block; }
.cube.toBottom .face.bottom { display: block; }
.cube.toRear .face.rear { display: block; }
.cube.toRight .face.right { display: block; }
.cube.toLeft .face.left { display: block; }
.cube.toFront .face.front { display: block; }

@media all and (-webkit-transform-3d) {
  .cube .face { display: block; } 
  .cube.toTop { -webkit-transform: rotateX(-90deg); }      
  .cube.toBottom { -webkit-transform: rotateX(-90deg) rotate(180deg); }
  .cube.toRear { -webkit-transform: rotateY(180deg); }
  .cube.toRight { -webkit-transform: rotateY(-90deg); }
  .cube.toLeft { -webkit-transform: rotateY(90deg); }
  .cube.toFront { -webkit-transform: rotateY(0); }
}